SERVER_PORT=8000
JWT_SECRET_KEY=replace_me_with_a_long_random_string_at_least_64_chars

APP_URL=http://localhost:5173

DB_SSL=false
DB_HOST=localhost
DB_PORT=54321
DB_USER=yourcasino_user
DB_PASSWORD=yourcasino_pass
DB_NAME=yourcasino

REDIS_HOST=localhost
REDIS_PORT=63799
# REDIS_PASSWORD=password
# REDIS_URL=rediss://:${REDIS_PASSWORD}@${REDIS_HOST}:${REDIS_PORT}
REDIS_URL=redis://${REDIS_HOST}:${REDIS_PORT}

SALT_ROUNDS=10

FIREBLOCKS_WEBHOOK_SECRET=
FIREBLOCKS_API_KEY=
FIREBLOCKS_SECRET_PATH=./keys/fireblocks_secret.key
FIREBLOCKS_BASE_URL=https://sandbox-api.fireblocks.io/v1
FIREBLOCKS_MODE=sandbox

COINGECKO_API_URL=https://api.coingecko.com/api/v3/simple/price

# FORGOT PASS
MAIL_SERVICE_HOST=smtp.mailtrap.io
MAIL_SERVICE_PORT=2525
EMAIL_SENDER=YOURCASINO
MAIL_SERVICE_USER=
MAIL_SERVICE_PASSWORD=
CONTACT_EMAIL=no-reply@yourcasino.com
DAILY_RESET_PASSWORD_LIMIT=50

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

RANDOM_ORG_API_URL=https://api.random.org/json-rpc/4/invoke
RANDOM_ORG_KEY=

INTERCOM_SECRET_KEY=

# Telegram Bot Configuration
TELEGRAM_NOTIFICATIONS_ENABLED=false
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

BLACKJACK_NUMBER_OF_DECKS=2