DATABASE_DIALECT=postgres
DB_HOST=localhost
DB_NAME=yourcasino
DB_PORT=54321
DB_USER=yourcasino_user
DB_PASSWORD=yourcasino_pass
DB_SSL=false

COOKIE_SECRET=

PORT=3000

ADMIN_EMAIL=
ADMIN_PASSWORD_HASH=

FIREBLOCKS_API_KEY=
FIREBLOCKS_SECRET_PATH=./keys/fireblocks_secret.key
FIREBLOCKS_MODE=sandbox
FIREBLOCKS_HOT_WALLET_VAULT_ID=
FIREBLOCKS_COLD_WALLET_VAULT_ID=